/* common */
.ribbon {
  width: 150px;
  height: 156px;
  overflow: hidden;
  position: absolute;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 236px;
  padding: 10px 0;
  background-color: #ff4081;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: 0px;
  right: 0px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

@media screen and (min-width: 895px) {
  .ribbon {
    width: 140px;
  }
  .ribbon-top-right {
    top: -13px;
  }
  .ribbon-top-right span {
    top: 40px;
  }
}

@media screen and (max-width: 660px) {
  .ribbon {
    width: 130px;
  }
  .ribbon-top-right {
    top: -13px;
  }
}
