.error-404 {
    text-align: center;
    margin: 50px auto;
    color: red;
}
.item-root {
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  /*max-width: 1024px;*/
  margin: 5px auto 50px !important;
}
.item-item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.item-paper {
  padding: 30px;
  height: 100%;
  display: inline-table;
  cursor: pointer;
  margin-bottom: 20px;
}
.item-paper i {
  font-size: 7em;
  color: #00BCD4;
}
.item-paper span {
  font-size: 0.8em;
  color: #00BCD4;
}

.card {
  display: 'flex';
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 20px;
}
.card-content-top {
  display: inline-block;
  width: 100%;
}
.item-image {
  height: 100%;
  float: left;
}
.item-image img {
  width: 70%;
  padding: 20px;
}
.item-content-left {
  height: 100%;
  float: left;
}
.item-content-left .author {
  font-size: 0.8em;
  color: #444;
  font-weight: 200;
}
.separator {
  font-weight: 200;
}
.item-content-left .repo {
  font-size: 0.9em;
  color: #444;
}
.item-content-right {
  padding: 20px;
  text-align: right;
  color: #999;
  font-size: 0.9em;
}
.item-content-icon {
  padding-bottom: 7px;
  display: block;
}
.card-content-bottom {
  border-top: 1px solid #ddd;
  /*display: inline-block;*/
  width: 100%;
}
.card-content-subline {
  float: left;
  padding: 18px 20px;
  color: #999;
  font-size: 0.9em;
}
.card-content-subline svg {
  font-size: 1.1em;
}
.card-content-button {
  float: right;
  margin: 10px 20px;
}
.card-content-button a {
  text-decoration: none;
}
.card-content-subline-dates {
  padding-right: 20px;
}

@media screen and (min-width: 1201px) {
  .item-paper {
    width: 80%;
  }
  .item-image {
    width: 10%;
  }
  .item-content-left {
    width: 70%;
  }
  /*.item-content-right {
    width: 15%;
    padding: 20px;
  }*/
}
@media screen and (min-width: 1057px) and (max-width: 1200px) {
  .item-paper {
    width: 80%;
  }
  .item-image {
    width: 10%;
  }
  /*.item-content-right {
    width: 14%;
    padding: 20px 22px;
  }*/
  .item-content-left {
    width: 70%;
  }
}
@media screen and (min-width: 895px) and (max-width: 1056px) {
  .item-paper {
    width: 80%;
  }
  .item-image {
    width: 10%;
  }
  /*.item-content-right {
    width: 14%;
    padding: 20px 22px;
  }*/
  .item-content-left {
    width: 70%;
  }
}
@media screen and (min-width: 854px) and (max-width: 894px) {
  .item-paper {
    width: 80%;
  }
  .item-image {
    width: 20%;
  }
  .item-content-right {
    text-align: right;
    padding: 20px;
    float: right;
    display: grid;
  }
  .item-content-icon {
    padding-bottom: 7px;
    float: left;
    padding-right: 10px;
  }
  .item-content-left {
    width: 60%;
  }
  .item-content-left .author {
    font-size: 0.7em;
  }
  .card-content-bottom {
    width: 100%;
    text-align: center;
  }
  .card-content-subline {
    padding: 10px 20px 2px 20px;
    text-align: center;
    width: 95%;
  }
  .card-content-button {
    width: 100%;
    margin: 10px 0px;
  }
  .card-content-button button{
    width: 95%;
  }
}
@media screen and (min-width: 661px) and (max-width: 853px) {
  .card {
    text-align: center;
  }
  .item-paper {
    width: 80%;
  }
  .item-image {
    display: none;
  }
  .item-content-right {
    text-align: center;
  }
  .item-content-icon {
    padding-bottom: 7px;
    display: initial;
    padding-right: 10px;
  }
  .item-content-left {
    width: 100%;
  }
  .item-content-left .author {
    font-size: 0.7em;
  }
  .card-content-bottom {
    width: 100%;
    text-align: center;
  }
  .card-content-subline {
    padding: 10px 20px 2px 20px;
    text-align: center;
    width: 95%;
  }
  .card-content-button {
    width: 100%;
    margin: 10px 0px;
  }
  .card-content-button button{
    width: 95%;
  }
}
@media screen and (max-width: 660px) {
  .card {
    text-align: center;
  }
  .item-paper {
    width: 80%;
  }
  .item-image {
    display: none;
  }
  .item-content-right {
    text-align: center;
  }
  .item-content-icon {
    float: none;
    padding-right: 20px;
  }
  .item-content-left {
    width: 100%;
  }
  .item-content-left .author {
    font-size: 0.7em;
    display: none;
  }
  .card-content-bottom {
    width: 100%;
    text-align: center;
  }
  .card-content-subline {
    float: none;
    padding: 10px 20px 2px 20px;
  }
  .card-content-subline-dates {
    padding-bottom: 5px;
    padding-left: 0px;
    display: block;
  }
   .card-content-subline-dates:first-child {
    margin-top: 5px;
  }
  .card-content-button {
    width: 100%;
    margin: 10px 0px;
  }
  .card-content-button button{
    width: 95%;
  }
  .separator {
    display: none;
  }
}
