.Footer-container {
  background-color: #00BCD4;
  padding: 10px;
  color: #fff;
  height: 25px;
}
.Footer-container a {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
  border-bottom: 1px dashed #eee;
}
.Footer-Layout {
  margin: auto !important;
  max-width: 1024px !important;
  padding-left: 30px;
}
.Footer-follow {
  padding: 2px;
  margin-left: 8px;
}
.Footer-divider {
  margin-left: 10px;
}
@media screen and (max-width: 589px) {
  .Footer-Layout {
    padding-left: 0px;
  }
  .Footer-follow {
    padding: 2px;
    margin-left: 0px;
    display: inline-block;
  }
  .Footer-container {
    height: 45px;
    text-align: center;
  }
  .Footer-divider {
    display: none;
  }
}
