.App-logo {
  height: 80px;
  margin-right: 20px;
}

.App-header {
  background-color: #00BCD4;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.App-header a {
  text-decoration: none !important;
}

.App-header-Layout {
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1024px;
  margin: auto !important;
}

.App-header h2 {
  margin-bottom: 0px;
}

.App-header-container {
  float: left;
}

.App-subHeader {
  letter-spacing: 1px;
  text-transform: none;
  color: #fff;
  width: 70%;
}

@media screen and (max-width: 894px) {
  .App-subHeader {
    font-size: 0.9em;
  }
}
