.ListLanguages-root {
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1024px;
  margin: 25px auto !important;
  margin-top: 50px !important;
}

.ListLanguages-item {
  margin-bottom: 30px;
  text-align: center;
}

.ListLanguages-paper {
  padding: 40px;
  height: 100%;
  width: 60%;
  display: inline-table;
  cursor: pointer;
}
.ListLanguages-paper i {
  font-size: 7em;
  color: #00BCD4;
}
.ListLanguages-paper span {
  font-size: 0.8em;
  color: #00BCD4;
}

.loader {
  width: 50%;
  margin: 60px auto;
}
